# Don't upload local env / caches
.venv/
__pycache__/
*.pyc

# Don't upload datasets / archives
data/
*.zip

# OS / git
.DS_Store
.git/

# IMPORTANT:
# Do NOT ignore models/ here (we want weights included in the build context)
